.cover-gray {
    width: 100%;
    height: 100%;
    z-index: -5;
    background: rgba(0, 0, 0, 0.7);
	position: absolute;
 	left: 0;
 	top: 0;
}
.super{
	text-align: center;
	width: 1300px;
	margin: 0 auto;
}
.logo{
	font-family: "Lobster", cursive;
	font-size: 35px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: left;
}
.left-info{
	float: left;
	/* border: 2px solid black; */
	width: 600px;
	height: 600px;
	margin: 120px 20px;
}
.right-input{
	float: left;
	/* border: 2px solid black; */
	width: 600px;
	height: 600px;
	margin: 40px 20px;
}
.title-info{
	font-family: 'Lobster', cursive;
	font-size: 70px;
	color: white;
	position: relative;
	float: left;
	text-shadow: -4px 0 #8862B2, 0 4px #8862B2, 4px 0 #8862B2, 0 -4px #8862B2;
	text-align: right;
}
.colorbox{
	width: 300px;
	height: 300px;
	background: #ECB765;
	position: relative;
	left: 220px;
	bottom: 100px;
	z-index: -1;
}
.desc1{
	float: left;
	/* border: 1px solid black; */
	width: 600px;
	color: white;
	font-size: 25px;
	font-family: 'Nanum Myeongjo', serif;
	margin-top: -10px;
}
.desc2{
	float: left;
	/* border: 1px solid black; */
	width: 600px;
	color: white;
	font-size: 25px;
	font-family: 'Nanum Myeongjo', serif;
	margin-top: -50px;
}
.desc>h3{
	margin: 0px 0px 10px 0px;;
}
textarea{
	outline: none;
}
#userhash{
	width: 500px;
	height: 200px;
	border: 4px solid #ECB765;
	border-radius: 30px;
	position: relative;
	margin: 5px;
	padding: 10px 15px;
	font-size: 20px;
	font-family: 'Nanum Myeongjo', serif;
}
#printhash{
	justify-content: space-between;
	align-items: center;
}
.yborder1{
	border: 4px solid #ECB765;
	border-radius: 38px;
	width: 520px;
	height: 220px;
	margin: 41px 40px;
}
.yborder2{
	border: 4px solid #ECB765;
	border-radius: 38px;
	width: 520px;
	height: 220px;
	margin: 81px 40px;
}
#btnsubmit{
	border: none;
	border-radius: 7px;
	width: 120px;
	height: 50px;
	font-family: "Lobster", cursive;
	font-size: 30px;
	background: #8862B2;
	margin-top: 20px;
	color: white;
}
button{
	outline: none;
}
.hashbtn{
	height: 28px;
	background: #8862B2;
	border-radius: 5px;
	border: none;
	color: white;
	margin: 3px;
	cursor: default;
	float: left;
}
.delete{
	cursor: pointer;
}


/***** 이미지 슬라이더 css *****/

/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none;	color:#666;}
a:hover{color:#1bc1a3;}
body, hmtl{background: #ecf0f1; font-family: 'Anton', sans-serif;}


#wrapper{
	width:400px;
	height:266.66px;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
	float: left;
	margin-top: 20px;
}

#slider-wrap{
	width:400px;
	height:266.66px;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:400px;
	height:266.66px;	
}

#slider-wrap ul#slider li > div{
	position:absolute;
	top:20px;
	left:35px;	
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;	
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:300px;
	display:block;
	width:100%;
	font-size:90px;	
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.1);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);	
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  	top:0;
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}




/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{	color: #666; text-transform:uppercase;	font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}
.slideimg{
	width: 400px;
}