body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.super {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.cover-gray{
  background: rgba(0, 0, 0, 0.6);
  width:100%;
  z-index:-300;
  position:absolute;
  background-size: 100% 100vh;
}
.debatecover{
	z-index:-10;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
	height:100%;
	margin:0 auto;
	background-image: url("../image/debate.jpeg");
	background-size:100% 100%;
	background-image:no-repeat;
}
.logo_align{
	text-align: left;
	width: 1300px;
	position: absolute;
	top: 0;
	left: 70px;
	margin-top: 20px;
}
.logo{
  color: white;
  text-decoration: none;
  font-family: "Lobster";
  font-size: 35px;
  width: 1300px;
  float: left;
}
.logo:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
#frm{
	margin-top: 100px;
}
.formtable {
  width: 800px;
  height:603px;
  margin: 0 auto;
}
.formtable th {
  font-size: 60px;
  font-family: "Lobster";
  color: white;
  text-shadow: 5px 5px 3px black;
  vertical-align: top;
  position: absolute;
  left: 268px;
}

.formtable td input {
    position: relative;
    top: -16px;
    left: 5px;
    width: 458px;
    height: 50px;
    border-radius: 15px;
    text-indent: 10px;
    font-size: 20px;
    margin-top: 18px;
    border: 4px solid #ecb765;
    font-family: 'Nanum Myeongjo', serif;

}
}
.formtable td input:focus {
  outline: none;
}

.formtable td textarea {
  padding-top: 10px;
  height: 400px;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 30px;
  border: 4px solid #ecb765;
  font-family: 'Nanum Myeongjo', serif;
}

.formtable td {
  text-align: left;
  vertical-align: top;
}

.mybutton {
  position: absolute;
  right: 270px;
  top: 80px;
  height: 50px;
  border-radius: 10px;
  font-family: "Lobster";
  font-size: 30px;
  background: #8862b2;
  border: none;
  cursor: pointer;
  color: white;
}

.mybutton:focus {
  outline: none;
}
