
  body{
      background-color:rgba(0,0,0,0.7);


  }
  .page{
    width:1200px;
    margin :0 auto;
    font-family:'Lobster';
    color:white;
    font-size:100px;
  }
  .article{
    width:1324px;
      margin :0 auto;

  }



  .first>input{
    text-indent:10px;
font-size:20px;
    width:600px;
    height:70px;
    margin-right:50px;
    border: 5px solid #f5bb4e;
border-radius: 20px 20px 20px 20px;

  }
  .second>input{
    text-indent:10px;
font-size:20px;
    width:600px;
    height:70px;
    border: 5px solid #f5bb4e;
    border-radius: 20px 20px 20px 20px;
    margin-bottom:60px;

  }
  .third>textarea{
    text-indent:10px;

    width:600px;
    height:400px;
    border: 5px solid #f5bb4e;
    border-radius: 20px 20px 20px 20px;
font-size:20px;
font-weight: bold;

  }
.first>span{
position: relative;
top:30px;
}
.second>span{
position: relative;
top:30px;
}
.third>span{
position: relative;
top:-320px;
}

.submit {
	background-color:#8962b2;
	border-radius:28px;
	border:1px solid #8962b2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Lobster';
	font-size:30px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  position: relative;
  left:530px;
  top:-50px;

}
.search {
	background-color:#8962b2;
	border-radius:17px;
	border:1px solid #8962b2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  	font-size:30px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  left:30px;
  position: relative;
  font-family:'Lobster';
}
.target{
  font-family:'Lobster';
  font-size:35px;
  color:white;
  text-decoration: none;
}

