.cover-purple{
    background-color: #8862B2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -20;
}
.super{
	position: relative;
	width: 950px;
	margin: auto;
}
.centerimg{
	position: absolute;
	z-index: -4;
	width: 200px;
	top: 32vh;
	left: 25.5vw;
}
.scroll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1440px;
    height: 100%;
    z-index: -10;
     /* The image used */
    background-image: url("../image/indexbg.png");

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cover-gray {
    width: 100%;
    height: 100%;
    z-index: -5;
    background: rgba(0, 0, 0, 0.2);
	position: absolute;
 	left: 0;
 	top: 0;
}

#logo>h1{
    font-family: 'Lobster', cursive;
    font-size: 11rem;
    text-align: center;
    color: white;
    text-shadow: 1vh 1vh 1vh black;
    padding-top: 5vh;
}
.desc{
    text-align: center;
    width: 100%
}
.desc>.qnadesc{
	font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    float: left;
    margin-left: 2vw;
}
.desc>.stabledesc{
	font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    float: right;
}
.demo1{
    transform: translate3d(0, 0, 0);
    /* border: black solid 2px; */
    width: 50%;
    text-align: center;
    display: inline-block;
    float: left;
}
.demo2{
    transform: translate3d(0, 0, 0);
    /* border: black solid 2px; */
    width: 50%;
    text-align: center;
    display: inline-block;
}
.container{
	padding: 0;
}
.container, .row{
	width: 100%;
	text-align: center;
	display: inline-block;
}
.col-md-12{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.navbar1{
    font-family: 'Lobster', cursive;
    width: 300px;
    height: 300px;
    padding-top: 7vh;
    border-radius: 50%;
    background: #ECB765;
    margin: 5vh 0 5vh 0;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    transition: 240ms 200ms;
    float: left;
}

.navbar2{
    font-family: 'Lobster', cursive;
    width: 300px;
    height: 300px;
    padding-top: 7vh;
    border-radius: 50%;
    background: #8862B2;
    margin: 5vh 0 5vh 0;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    transition: 240ms 200ms;
    float: right;
}
.navbar1:hover{
    background: rgba(236, 183, 101, 0.75);
}
.navbar2:hover{
    background: rgba(136,98,178, 0.75);
}
/* hover시 메뉴 위치 조정  */
.navbar1 .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: -230px;
    left: -70px;
    border: 150px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}
.navbar2 .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: -225px;
    left: 60px;
    border: 150px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}
.navbar1:hover .menu, .navbar2:hover .menu{
    transition: transform 0.4s 0.08s, z-index   0s  0.5s;
    transform: scale(1);
    z-index: 1;
}
.navbar1 .menu li, .navbar2 .menu li{
    position: absolute;
    top: -100px;
    left: -100px;
    transform-origin: 100px 100px;
    transition: all 0.5s 0.1s;
}
.navbar1:hover .menu li, .navbar2:hover .menu li{
    transition: all 0.6s;
}
.navbar1 .menu li a{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: #ECB765;
    position: absolute;
    font-size: 2.3rem;
    color:#fff;
    transition: 0.6s;
    margin: 180px;
    font-family: 'Lobster', cursive;
}
.navbar2 .menu li a{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: #8862B2;
    position: absolute;
    font-size: 2.3rem;
    color:#fff;
    transition: 0.6s;
    margin: -75px;
    font-family: 'Lobster', cursive;
}
.navbar1:hover .menu li:nth-child(1){
    transition-delay: 0.02s;
    transform: rotate(85deg);
}
.navbar1:hover .menu li:nth-child(1) a{
    transition-delay: 0.04s;
    transform: rotate(635deg);
}
.navbar1:hover .menu li:nth-child(2){
    transition-delay: 0.04s;
    transform: rotate(125deg);
}
.navbar1:hover .menu li:nth-child(2) a{
    transition-delay: 0.08s;
    transform: rotate(595deg);
}
.navbar1:hover .menu li:nth-child(3){
    transition-delay: 0.06s;
    transform: rotate(165deg);
}
.navbar1:hover .menu li:nth-child(3) a{
    transition-delay: 0.12s;
    transform: rotate(555deg);
}
.navbar1:hover .menu li:nth-child(4){
    transition-delay: 0.08s;
    transform: rotate(205deg);
}
.navbar1:hover .menu li:nth-child(4) a{
    transition-delay: 0.16s;
    transform: rotate(515deg);
}

/* navbar2의 li and a */
.navbar2:hover .menu li:nth-child(1){
    transition-delay: 0.02s;
    transform: rotate(85deg);
}
.navbar2:hover .menu li:nth-child(1) a{
    transition-delay: 0.04s;
    transform: rotate(635deg);
}
.navbar2:hover .menu li:nth-child(2){
    transition-delay: 0.04s;
    transform: rotate(125deg);
}
.navbar2:hover .menu li:nth-child(2) a{
    transition-delay: 0.08s;
    transform: rotate(595deg);
}
.navbar2:hover .menu li:nth-child(3){
    transition-delay: 0.06s;
    transform: rotate(165deg);
}
.navbar2:hover .menu li:nth-child(3) a{
    transition-delay: 0.12s;
    transform: rotate(555deg);
}
.navbar2:hover .menu li:nth-child(4){
    transition-delay: 0.08s;
    transform: rotate(205deg);
}
.navbar2:hover .menu li:nth-child(4) a{
    transition-delay: 0.16s;
    transform: rotate(515deg);
}





.btn {
  position: relative;
  color: white;
  font-weight:bold;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
}
.btn span{
    transition: all 0.3s;
    tranform: scale(1, 1);
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
height: 100%;
  bottom: 0;
	left: 0;
	z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
.container-2{
	position:absolute;
	top:83px;
	left: 820px;
	font-size:20px;
}

.userbounty{
	color: white;
	text-shadow: 1px 1px gray;
	background: black;
	width: 325px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 25px;
	font-weight: bold;
	position: relative;
	bottom: 70px;
}