body{
	margin: 0;
}
.bgimg {
	background-image: url("../image/library.JPG");
	width: 100%;
	height: 100%;
	background-size: 100% 100vh;
	background-repeat: repeat-y;
	position: relative;
}
.super {
	width: 1300px;
	min-height: 100vh;
	margin: auto;
	padding-bottom: 50px;
}
.logo{
	font-family: "Lobster", cursive;
	font-size: 35px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.hashbox {
  margin-top:100px;
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.mydivdiv{
	text-align: center;
}
.questionlist {
  width: 900px;
  margin: 0 auto;
  padding: 10px;
}


.link {
  color: white;
  font-family: "Atomic Age", cursive;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0.1s;
  text-decoration: none;
}
.link:hover {
  color: #ffffff;
  animation: anim-1 0.3s forwards;
}
.link:before {
  content: "";
  background-color: #8862b2;
  border-radius: 30px;
  opacity: 0;
  transform: scale3d(0.8, 0.5, 1);
  position: absolute;
  left: -12px;
  right: -12px;
  top: -12px;
  bottom: -10px;
  z-index: -1;
  transition: all 0.1s ease 0s;
}
.link:hover:before {
  animation: anim-2 0.3s forwards;
}
@keyframes anim-1 {
  60% {
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-2 {
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@media only screen and (max-width: 767px) {
  .link {
    margin: 0 0 30px;
  }
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 17px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
    font-size: 0.5em;
  }

  li {
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 10px;
    height:30px;
    width:920px;
  }
  .table-header {
background-color: #ECB765;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    height: 30px;
     width:920px;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
    text-align:center;
  }
  .col-2 {
    flex-basis: 10%;
    text-align:center;
  }
  .col-3 {
    flex-basis: 40%;
  }
  .col-4 {
    flex-basis: 20%;
    text-align:center;
  }
    .col-5 {
    flex-basis: 20%;
    text-align:center;
  }
  
  #checked{
	width: 30px;
}
.check{
	width: 30px;
}


