body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width:100%;
  height:100%;
  
}
.cover-gray{
  background: rgba(0, 0, 0, 0.5);
  width:100%;
  height:100%;
  z-index:-5;
  position:absolute;
  top:0;
  left:0;
}
.super {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.logo a {
  color: white;
  text-decoration: none;
  font-family: "Lobster";
  font-size: 35px;
}
.formtable {
  width: 800px;
  margin: 0 auto;
}

.formtable th {
  font-size: 60px;
  font-family: "Lobster";
  color: white;
  text-shadow: 5px 5px 3px black;
  vertical-align: top;
}

#title {
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  font-size: 20px;
  margin: 15px 0px 15px 0px;
  border: 4px solid #ecb765;
}
.desc{
	color: white;
	font-size: 20px;
	padding-left: 210px;
	height: 20px;
}
#inputExpense{
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  font-size: 20px;
  border: 4px solid #ecb765;
  text-indent: 40px;
}
#totalBounty{
	font-size: 23px;
	color: white;
	font-weight: bold;
}
#usdimg{
	width: 35px;
	position: absolute;
    top: 185px;
    left: 460px;
}
.formtable td input:focus {
  outline: none;
}

.formtable td textarea {
  padding-top: 10px;
  height: 400px;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 15px;
  border: 4px solid #ecb765;
}

.formtable td {
  text-align: left;
  vertical-align: top;
}

.mybutton {
  position: absolute;
  right: 270px;
  bottom: 62px;
  height: 50px;
  border-radius: 10px;
  font-family: "Lobster";
  font-size: 30px;
  background: #8862b2;
  border: none;
  cursor: pointer;
  color: white;
}

.mybutton:focus {
  outline: none;
}
.bulbcover{
	z-index:-10;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
	height:100%;
	margin:0 auto;
	background-image: url("../image/bulb.JPG");
	background-size:100% 100%;
	background-image:no-repeat;
}
